body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  background-color: grey;
  
}
.btn-primary {
  background-color: #023047;
  color:#FFB703;
  border-color: #FFB703;
}
.btn-primary:hover {
  background-color: #023047;
  color: #8ecae6;
  border-color: #8ecae6;
}


.btn-header {
  float: right;
  margin-top;
}
.logo{
  width: 100px;
  float: center;  
}
.logo:hover{
  cursor: pointer;
}
.logRegText{
  margin-left: 50%;
}
.centering{
  text-align: center;
}
.mainBoxElement{
  text-align: center;
  padding-top: 15px;
}
.quizList{
  background-color: rgb(192, 192, 192);
}
:focus-visible{
  outline: none;
}
.bordershadow{
  box-shadow: 0px 1px #949494
}
.question{
  border: #FFB703;
  border-style: inset;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  text-decoration: solid;
  color: #FFB703;
  background-color: #023047;
  margin: auto;
}
.answer{
  margin: auto;
  margin-top: 30px;
  border: #8ecae6;
  border-style: inset;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  text-decoration: solid;
  color: #8ecae6;
  background-color: #023047;
  width: fit-content;
}
.answer:hover{
  cursor: pointer;
  background-color:#023047;
  color: #FFB703;
  border-color: #FFB703;
  border-style: ridge;
}
#main{}