body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  background-color: grey;
  
}
.btn-primary {
  background-color: #FFB703;
  color: #023047;
  border-color: #FB8500;
}


.btn-header {
  float: right;
}
.logo{
  width: 100px;
  float: center;  
}
.logo:hover{
  cursor: pointer;
}
.logRegText{
  margin-left: 50%;
}
.centering{
  text-align: center;
}
.mainBoxElement{
  text-align: center;
  padding-top: 15px;
}
.quizList{
  background-color: rgb(192, 192, 192);
}
:focus-visible{
  outline: none;
}
.bordershadow{
  box-shadow: 0px 1px #949494
}