body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(-45deg, #023047, #219ebc, #ffb703, #fb8500);*/
  background: linear-gradient(-45deg, #023047, #219ebc, #ffb703, #fb8500);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container{
  box-shadow: -10px -10px 17px #fcfcfca2,
              10px 10px 15px rgba(253, 253, 253, 0.671);
              background-color: rgba(255,255,255,1);
              backdrop-filter: blur(10px);
              
  padding: 30px;
  border-radius: 20px;
  width: 70%;
}
.btn-primary {
  background-color: #023047;
  color:#FFB703;
  border-color: #FFB703;
  box-shadow: -2px -2px 6px #ffb703,
              2px 2px 6px #ffb703;
              background-color: rgb(23, 44, 75);
              backdrop-filter: blur(10px);
}
.btn-primary:hover {
  background-color: #023047;
  color: #8ecae6;
  border-color: #8ecae6;
  box-shadow: -3px -3px 7px #8ecae6,
              3px 3px 7px #8ecae6;
              background-color: rgb(23, 44, 75);
              backdrop-filter: blur(10px);
}


.btn-header {
  width: 150px;
  height: 50px;
  float: right;
  margin: 35px 30px;
}
.logo{
  width: 180px;
  float: center;
  filter: drop-shadow(-1px -2px 0 rgb(0, 0, 0))drop-shadow( 0px 1px 0 rgb(0, 0, 0));   
}
.logo:hover{
  cursor: pointer;
}
.logRegText{
  margin-left: 50%;
}
.centering{
  text-align: center;
}
.mainBoxElement{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.quizList{
  background-color: rgb(192, 192, 192);
}
:focus-visible{
  outline: none;
}
.header{
  
  box-shadow: -7px -7px 15px #fcfcfca2,
              7px 7px 12px rgba(253, 253, 253, 0.671);
              background-color: rgba(255,255,255,0.5);
              backdrop-filter: blur(10px);
}
.question{
  width: fit-content;
  min-width: 400px;
}
.answer{
  min-width: 200px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  text-decoration: solid;
  color: white;
  background-color: #023047;
  width: fit-content;
  box-shadow: -7px -7px 15px #fcfcfca2,
              7px 7px 12px rgba(253, 253, 253, 0.671);
              backdrop-filter: blur(10px);
}
.answer:hover{
  cursor: pointer;
  background-color:#023047;
  color: #8ecae6;
  border-color: #8ecae6;
  box-shadow: -2px -2px 6px #8ecae6,
              2px 2px 6px #8ecae6;
              backdrop-filter: blur(10px);
}
.width30{
  width: 30%;
}
.main{
  margin: 0 auto;
  margin-top: 10% ;
  padding: 30px;
  border-radius: 20px;
  box-shadow: -10px -10px 17px #fcfcfca2,
              10px 10px 15px rgba(253, 253, 253, 0.671);
              background-color: rgba(255,255,255,1);
              backdrop-filter: blur(10px);
}
.content{
  width: 330px; 
  border-radius: 10px;
  padding: 40px 30px;
  margin-top: 100px;
  box-shadow: -10px -10px 17px #fcfcfca2,
              10px 10px 15px rgba(253, 253, 253, 0.671);
              background-color: rgba(255,255,255,0.5);
              backdrop-filter: blur(10px);
}
.tabs .tabs:focus .tabs:active{
  border:none;
  border-color: none;
  border-bottom: none;
  color: red;
  background-color: #fff;
  border-color: none;

}
.noclick {
  pointer-events: none;
}
.quizrow{
  padding-top: 5px;
  padding-bottom: 5px; 
}
.quizes{
}
.color1{
  background-color:#f7f7f7;
}
.color2{
  background-color: #e7e7e7;
}
.quizes:hover { 
  box-shadow: -10px -10px 17px #aaaaaa80,
  10px 10px 15px #aaaaaa80,
  10px -7px 15px #aaaaaa80,
  -7px 10px 15px #aaaaaa80;
  backdrop-filter: blur(10px);
  border-radius: 2px;
  cursor: pointer;
}
.spandecorate{
  text-decoration: underline;
  color: #747474;
}

.spandecorate:hover{
  cursor: pointer;
}
.input{
  width: 75%;
  display: inline;
}